:root {
  --blue-lite: #2296c3;
  --blue: #1695c5;
  --purp-deep: #280664;
  --purp: #5d17d9;
  --purp-lite: hsl(262, 80%, 60%);
  --white: #e9e6f9;
  --glass: hsla(162, 50%, 95%, 0.75);
  --muted: hsla(82, 10%, 50%, 0.5);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--purp-deep);
  color: var(--white);
  display: flex;
  flex-flow: column nowrap;
  font-family: "Lato", sans-serif;
  justify-content: center;
  line-height: 1.5;
  margin: 0;
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--blue-lite);
}

a:visited {
  color: var(--purp-lite);
}

a:visited:hover {
  color: var(--blue);
}

.abscen {
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

#waves {
  z-index: -1;
}

h1 {
  font-family: "Righteous", sans-serif;
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h1,
h2,
.subtitle {
  margin: 1rem 0;
}

h3 {
  margin: 0.5em 0;
}

#rocketdrop {
  background-image: url("./bloo050.png");
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 61vh;
  max-height: 720px;
  max-width: 720px;
  min-height: 300px;
  min-width: 300px;
  width: 61vw;
  z-index: 1;
}

.shadow-realm {
  background-image:
  linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.2) 10%,
  rgba(0, 0, 0, 0.4) 30%
  );
  margin-top: 79vh;
  padding-bottom: 10rem;
  position: relative;
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 480px) {
  .shadow-realm {
    margin-top: 84vh;
  }
}

.content-pillar {
  max-width: 80ch;
  min-width: 300px;
  margin: 2rem auto 0;
  width: 61vw;
}

hr.break {
  margin: 3rem;
  background: var(--white);
}

.resources {
  margin: auto;
  margin-top: 2rem;
}

/* CSS only Accordion
 * https://codepen.io/vinsongrant/pen/qbGKed */
.fold {
  position: relative;
  max-width: 48ch;
}

.toggle {
  display: none;
}

.moar,
.fold-list {
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform: translateZ(0);
  background: var(--glass);
  display: block;
  color: var(--purp-deep);
}

.moar {
  padding: 1em;
  font-weight: bold;
  cursor: ns-resize;
}

.moar:before,
.moar:after {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: var(--purp);
  transition: all 0.25s;
}

.moar:after {
  transform: rotate(90deg);
}

.fold-list {
  max-height: 0;
  overflow-y: auto;
  padding: 0 1em 0 2em;
  margin-top: 0;
}

.fold-list li:last-child {
  margin-bottom: 1em;
}

.fold-list a.glyph {
  text-decoration: none;
}

.toggle:checked + .moar + .fold-list {
  max-height: 80vh;
}

.toggle:checked + .moar:before {
  transform: rotate(90deg) !important;
}
/* END CSS only Accordion */

#waves,
#formbutton-container {
  opacity: 0;
  transition: opacity 500ms;
}

#formbutton-container {
  pointer-events: none;
}

#formbutton-container.shown {
  pointer-events: auto;
}

#waves.shown,
#formbutton-container.shown {
  opacity: 1;
}

/* form fields */
::placeholder {
  color: var(--muted);
}

.field {
  text-align: left;
  flex: 1;
  max-width: 48ch;
}

.field + .field {
  margin-top: 1em;
}

.field label {
  font-size: 87.5%;
}

.field input[type="email"],
.field textarea {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem;
  border: 4px solid var(--purp);
  border-radius: 0.5rem;
  color: var(--purp-deep);
  background: var(--glass);
  font-size: 1rem;
  font-family: "Aleo", serif;
  transition: all 250ms ease-in-out;
}

.field input[type="email"]:hover,
.field textarea:hover {
  background: var(--white);
}

.field input[type="email"]:active,
.field input[type="email"]:focus,
.field textarea:active,
.field textarea:focus {
  background: var(--white);
}

a.btn, .btn { display: inline-block; padding: 0.75em 1.5em; margin: 0.5em; text-decoration: none; white-space: nowrap; outline: none; color: #fafafa; background: #26a9d9; border-color: #26a9d9; border-width: 6px; border-style: solid; border-radius: 1em; font-family: "Lato", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: bolder; cursor: pointer; text-align: center; transition: background 250ms ease-in-out, transform 150ms ease; -webkit-appearance: none; -moz-appearance: none; box-shadow: inset 0 0 1em 1em rgba(0, 0, 0, 0.25); }

a.btn:hover, a.btn:focus, .btn:hover, .btn:focus { background: #42c1f0; }

a.btn:focus, .btn:focus { outline: 1px solid rgba(255, 255, 255, 0.2); outline-offset: 4px; }

a.btn:active, .btn:active { transform: scale(0.97); background: #1697c5; }

a.btn:link, a.btn:focus, a.btn:hover, a.btn:active, a.btn:visited, a.btn:visited:hover, .btn:link, .btn:focus, .btn:hover, .btn:active, .btn:visited, .btn:visited:hover { color: #fafafa; }

@media screen and (min-width: 60rem) { .btn.lg { font-size: 1.25em; } }

.btn.sm { font-size: 0.875em; padding: 0.25em; border-width: 2px; border-radius: 4px; margin: 0; }

.btn.center { display: block; margin: 1rem auto 0.5rem; }

figure {
  margin: 1rem 0;
}

figcaption {
  font-weight: bold;
  font-style: italic;
  font-size: 0.875em;
  padding-left: 5rem;
}

figcaption:before {
  content: "—";
}

blockquote {
  font-family: "Aleo", serif;
  font-size: 1.25em;
  margin: 0;
  padding: 0 2rem 1rem 1rem;
  white-space: pre-line;
}

footer {
  background: var(--purp-deep);
  border-radius: 1em;
  bottom: 1.5rem;
  color: var(--white);
  left: 0;
  margin: auto;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  width: 61vw;
}

footer .row,
footer .row li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row li {
  display: inline-block;
  margin: 0 1em;
}

.row a,
.row span {
  color: var(--white);
  display: block;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.row a:hover {
  color: var(--white);
  text-decoration: underline;
}

.copyleft {
  transform: rotateY(180deg);
}
